* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/3015339/pexels-photo-3015339.jpeg') !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    color: #333 !important;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: 3px solid #333 !important;
    border-radius: 5px !important;
    background: #ffffffa8;
    color: #333 !important;
}

form button {
    color: #A5C9CA;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #333 !important;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #20202067;
    color: #FFF !important;
    font-size: 2rem;
    border: 3px solid #333 !important;
    border-radius: 5px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.golden {
    color: #333 !important;
}

.todo li {
    flex: 1;
}
.trash-btn {
    color: #fff;
    background: #333 !important;
    border: #333 2px solid;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.trash-btn:hover {
    color: #333 !important;
    background: #fff !important;
}

.complete-btn{
    color: #333;
    background: #fff;
    border: #333 2px solid;
    border-left: solid #333 3px !important;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn:hover {
    color: #fff !important;
    background: #333 !important;
}

.fa-square-plus{
    color: #333 !important;
}

.fa-square-plus:hover{
    color: #fff !important;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 10;
    color: grey  !important;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    color: #333 !important;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #333 !important;
    width: 10rem;
    cursor: pointer;
    border: 3px solid #333 !important;
    border-radius: 5px;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #395b6400 !important;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

select:hover::after {
    background: #ffffff00;
    color: #333 !important;
}

p {
    justify-content: center !important;
    margin-left: 45%;
    margin-top: 25%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
}